.app-month {

	&__content {

		&-items {
            display: grid;
            grid-template-columns: repeat(7, auto);
            grid-template-rows: repeat(6, 75px);
        }

        &-item {
            border: 0.5px solid $color-border-calendar-item;
            transition: border $animate / 2, background-color $animate / 2;
            flex-direction: column;
            user-select: none;

            overflow: hidden;
            position: relative;
            z-index: 10;

            &.app-month-content-item-current-day {
                background-color: $color-active-calendar-item;
            }

            &.app-month-content-item-pressed-btn {
                border: 0.5px solid $color-day-hover;
                background-color: rgba($color-day-hover, 0.15);
            }

            &:first-child   { border-top-left-radius: 8px; }
            &:nth-child(7)  { border-top-right-radius: 8px; }
            &:nth-child(36) { border-bottom-left-radius: 8px; }
            &:last-child    { border-bottom-right-radius: 8px; }

            &:hover {
                border: 0.5px solid $color-day-hover;
                background-color: rgba($color-day-hover, 0.15);
                overflow: visible;
                z-index: 15;
            }

            &:active {
                cursor: pointer;
                border: 0.5px solid darken($color-day-hover, 25%);
                background-color: rgba(darken($color-day-hover, 5%), 0.15);
            }

            &-counter-notes {
                position: absolute;
                width: 28px;
                height: 28px;
                background-color: $color-counter-notes;
                border-radius: 50%;
                top: 2px;
                right: 2px;

                &-number {
                    color: $white-color;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    font-size: 14px;
                }
            }

            &-day {
                color: $color-text-section-days;
                font-size: 14px;
                line-height: 18/14 * 100%;
                margin: 12px 0 0 12px;
                font-weight: 400;
                user-select: none;

                &.app-month-day-pass {
                    color: $color-day-pass;
                }
            }

            &-note {
                border-radius: 25px;
                margin-left: 15px;
                padding: 0 10px;

                position: absolute;
                z-index: 20;
                top: 34px;

                color: $white-color;
                font-size: 14px;
                line-height: 1;
                font-weight: 400;

                &.note-for-past-or-next {
                    opacity: 0.65;
                }

                &-title {
                    font-size: 14px;
                    line-height: 1;
                    font-weight: 400;
                    white-space: nowrap;
                    padding: 4px 0;

                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    span {
                        font-weight: 500;
                    }
                }

                &-text {
                    margin-left: 4px;

                    p {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding: 4px 0;
                    }
                }
            }

            &-context-menu {
                position: absolute;
                width: 150px;
                height: 90px;
                border-radius: 24px;
                background: linear-gradient(135deg, $color-back-context-menu-1,
                                                    $color-back-context-menu-2);
                transition: opacity $animate;
                opacity: 0;

                &-back-btns {
                    max-width: 70%;
                    margin: 15px auto 0;
                }

                &-back-btn {

                    &:first-child {
                        margin-bottom: 8px;
                    }
                }

                &-btn {
                    position: relative;
                    color: $white-color;
                    font-size: 16px;
                    font-weight: 500;

                    &::after {
                        position: absolute;
                        content: "";
                        width: 0;
                        left: 0;
                        height: 2px;
                        background-color: $white-color;
                        transition: width $animate;
                        bottom: -1px;
                    }

                    &:hover {

                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
	}
}