<div class="diary__form">
    <div class="diary__form-wrapper">
        <div class="diary__form-content">
            <div class="diary__form-content-back">
                <input type="text" data-type-for-dictionary="subject" placeholder="Subject" class="diary__form-content-back-input diary-form-input">
                <textarea placeholder="Text" data-type-for-dictionary="content" cols="30" rows="10" class="diary-form-input diary__form-content-back-textarea"></textarea>
                <div class="diary__form-content-back-btns">
                    <a role="button" data-importance="important" class="diary__form-content-back-btn-level diary-form-btn-level-important">!!!</a>
                    <a role="button" data-importance="average" class="diary__form-content-back-btn-level diary-form-btn-level-average">!!</a>
                    <a role="button" data-importance="simple" class="diary__form-content-back-btn-level diary-form-btn-level-simple">!</a>
                </div>
                <a role="button" class="diary__form-content-back-btn">Add New</a>
            </div>
        </div>
    </div>
</div>