<div class="calendar__form">
    <div class="calendar__form-wrapper">
        <div class="calendar__form-content">
            <div class="calendar__form-content-back">
                <input type="text" data-type-for-dictionary="subject" placeholder="Subject" class="calendar__form-content-back-input calendar-form-input">
                <textarea placeholder="Text" data-type-for-dictionary="content" cols="30" rows="10" class="calendar-form-input calendar__form-content-back-textarea"></textarea>
                <div class="calendar__form-content-back-btns">
                    <a role="button" data-importance="important" class="calendar__form-content-back-btn-level calendar-form-btn-level-important">!!!</a>
                    <a role="button" data-importance="average" class="calendar__form-content-back-btn-level calendar-form-btn-level-average">!!</a>
                    <a role="button" data-importance="simple" class="calendar__form-content-back-btn-level calendar-form-btn-level-simple">!</a>
                </div>
                <a role="button" class="calendar__form-content-back-btn">Add New</a>
            </div>
        </div>
    </div>
</div>