<div class="section-days">
    <div class="section-days__content">
        <div class="section-days__content-items">
            <div class="section-days__content-item">
                <h2 class="section-days__content-item-title">Sun</h2>
            </div>
            <div class="section-days__content-item">
                <h2 class="section-days__content-item-title">Mon</h2>
            </div>
            <div class="section-days__content-item">
                <h2 class="section-days__content-item-title">Tue</h2>
            </div>
            <div class="section-days__content-item">
                <h2 class="section-days__content-item-title">Wed</h2>
            </div>
            <div class="section-days__content-item">
                <h2 class="section-days__content-item-title">Thu</h2>
            </div>
            <div class="section-days__content-item">
                <h2 class="section-days__content-item-title">Fri</h2>
            </div>
            <div class="section-days__content-item">
                <h2 class="section-days__content-item-title">Sat</h2>
            </div>
        </div>
    </div>
</div>