.wrapper-search-notice {
    display: flex;
    justify-content: space-between;
}

.search {
    margin-bottom: 60px;

    &__content {

        &-back-input {
            display: flex;
            align-items: center;

            &-btn {
                display: flex;
                padding: 4px;
                margin-right: 8px;
            }
        }

        label {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                left: -145px;
                bottom: -15px;
                height: 2px;
                width: 0;
                background-color: $color-focus-input;
                transition: all $animate;
            }
        }

        &-input {
            font-size: 12px;
            line-height: 14/12 * 100%;

            color: $color-input-text;
            font-family: "Montserrat", sans-serif;

            &::placeholder {
                color: $color-input-text;
                font-weight: 400;
                font-family: "Montserrat", sans-serif;
            }

            &:focus {
                ~label{
                    &::after {
                        width: 145px;
                    }
                }
            }
        }
    }
}