$color-back: #E5E5E5;
$color-back-notice: #5B63A9;
$color-back-context-menu-1: #7b5eec;
$color-back-context-menu-2: #ea6ca6;
$color-back-component-search: #5B63A9;
$color-back-menu-sorting: #5B63A9;

$color-border_text: #5787A4;
$color-btn: #3A91C1;
$color-btn-text: #979797;

$color-focus-input: #5B63A9;
$color-input-text: #90A0B7;

$color-text-section-days: #666666;

$color-day-pass: #B8B8B8;
$color-day-hover: #884CB2;

$color-counter-notes: #5787A4;
$color-border-calendar-item: #E0E0E0;
$color-active-calendar-item: #F5F5F5;

$color-back-nav-footer: #F0EFF0;

$color-notice: #F7685B;

$white-color: #ffffff;
$black-color: #000000;
$red-color: #E02329;
$yellow-color: #F7BD40;
$green-color: #6edb80;
$orange-color: #DF632E;

$animate: 0.2s;
